h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
  color: #000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

aside {
  height: 100vh;
  max-width: 300px;
  transition: width 0.2s;
}
.aside-link {
  display: flex;
  height: 100%;
  background-color: rgb(112, 112, 112);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70px;
  transition: width 0.2s;
}
.title {
  transform: rotate(90deg);
  color: #fff;
  width: 100px;
  text-transform: uppercase;
}
.aside-link:hover {
  justify-content: flex-start;
  padding-top: 70px;
}
.aside-link:hover .title {
  display: none;
}
.aside-link:hover + .menu-list,
.menu-list:hover {
  transform: translateX(0);
}

.menu-list {
  flex-direction: column;
  background-color: rgb(112, 112, 112);
  height: 100%;
  transform: translateX(-200%);
  transition: transform 0.4s;
  gap: 10px;
  position: absolute;
  padding: 30px 70px;
  top: 0;
  left: 0;
  display: flex;
}
.menu-list-link {
  color: #fff;
  text-transform: uppercase;
  transition: color 0.2s;
  display: flex;
  align-items: center;
  gap: 10px;
}
.menu-list-link:hover {
  color: #ffbf00;
}
.menu-list-link::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ffbf00;
  border: 2px solid black;
  transform: rotate(45deg);
}
